#container {
    display:grid;
    height: 900px;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 4px;
    align-content: center;
}

.item{
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}