#container {
    display:grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 4px;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    border-color: rgb(70, 70, 70) ;
    height: 392px;
    width: 392px;
}

.cell{
    width: 100%;
    height: 100%;
    background-color: rgba(229, 228, 232, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
}

.revealed{
   width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
